@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@theme {
    --color-primary: #F5FF39;
    --color-secondary: #D6FF39;
    --color-secondary-hover: #AFDD00;
    --color-stats: #16A34A;
}

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

.bg_home {
    clip-path: polygon(0% 0%, 25% 0%, 25% 12%, 100% 12%, 100% 100%, 0% 100%);
    border-radius: 20px;
}

.dekan_img {
    clip-path: polygon(0% 0%, 50% 0%, 60% 10%, 100% 10%, 100% 100%, 60% 100%, 50% 90%, 0% 90%);
}

.clip-custom-shape {
    clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0% 100%);
    border-radius: 0px 20px 0px 0px;
}

.dosen-card {
    border-radius: 20px;
    clip-path: polygon( 6.232% 0.432%,6.232% 0.432%,5.354% 0.704%,4.526% 1.042%,3.753% 1.442%,3.04% 1.9%,2.393% 2.412%,1.816% 2.972%,1.313% 3.577%,0.891% 4.222%,0.554% 4.903%,0.307% 5.616%,0.307% 5.616%,0.239% 6.246%,0.181% 7.641%,0.134% 9.838%,0.097% 12.874%,0.069% 16.786%,0.051% 21.61%,0.041% 27.382%,0.04% 34.141%,0.047% 41.922%,0.061% 50.762%,0.153% 94.684%,0.798% 95.788%,0.798% 95.788%,1.084% 96.238%,1.407% 96.669%,1.767% 97.08%,2.16% 97.47%,2.587% 97.837%,3.045% 98.181%,3.533% 98.499%,4.048% 98.792%,4.59% 99.056%,5.157% 99.292%,6.907% 99.964%,36.839% 100.036%,36.839% 100.036%,42.57% 100.047%,47.735% 100.051%,52.337% 100.047%,56.376% 100.038%,59.856% 100.021%,62.778% 99.998%,65.143% 99.969%,66.954% 99.933%,68.212% 99.891%,68.92% 99.844%,68.92% 99.844%,69.701% 99.73%,70.49% 99.578%,71.275% 99.393%,72.046% 99.177%,72.792% 98.935%,73.502% 98.671%,74.165% 98.388%,74.771% 98.091%,75.308% 97.783%,75.766% 97.468%,75.766% 97.468%,76.191% 97.116%,76.585% 96.745%,76.954% 96.346%,77.304% 95.911%,77.642% 95.431%,77.974% 94.897%,78.305% 94.299%,78.642% 93.631%,78.991% 92.882%,79.358% 92.044%,79.358% 92.044%,80.059% 90.471%,80.718% 89.157%,81.376% 88.068%,82.075% 87.173%,82.857% 86.436%,83.765% 85.826%,84.84% 85.308%,86.124% 84.85%,87.66% 84.418%,89.489% 83.979%,89.489% 83.979%,91.465% 83.502%,93.172% 83.009%,94.632% 82.485%,95.867% 81.916%,96.899% 81.285%,97.749% 80.579%,98.439% 79.78%,98.992% 78.875%,99.429% 77.848%,99.773% 76.683%,99.773% 76.683%,99.841% 76.095%,99.899% 74.924%,99.946% 73.137%,99.983% 70.696%,100.011% 67.566%,100.029% 63.71%,100.039% 59.094%,100.04% 53.681%,100.033% 47.436%,100.018% 40.322%,99.926% 5.4%,99.282% 4.296%,99.282% 4.296%,98.996% 3.846%,98.673% 3.415%,98.313% 3.004%,97.919% 2.614%,97.493% 2.247%,97.035% 1.903%,96.547% 1.585%,96.032% 1.292%,95.489% 1.028%,94.922% 0.792%,93.172% 0.12%,50.5% 0.072%,50.5% 0.072%,39.499% 0.059%,30.551% 0.052%,23.433% 0.051%,17.925% 0.06%,13.803% 0.081%,10.847% 0.115%,8.833% 0.165%,7.541% 0.233%,6.748% 0.321%,6.232% 0.432% );
}  

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-marquee {
    animation: marquee 20s linear infinite;
}

@media (max-width: 1024px) {
    .bg_home {
        background-image: url("../src/assets/home/section1ori.jpeg");
        clip-path: none; 
        border-radius: 0;
    }
}